.toplocations{
    border: 1px solid black;
    position: relative;
    margin-top: 10px;
    padding: 10px;
    padding-top: 30px
}
.toplocations .heading{
    background-color: white;
    display: inline-block;
    position: absolute;
    top: -9px;
    padding: 0 3px;
    left: 20px;
    color: black;
}
.toplocations td a{
    height: 6px;
    font-size: 13px;
    color: black;
    cursor: pointer;
}